* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

/* 主体盒子 */
.todo-container {
  width: 800px;
  /* min-height:500px; */
  background: #f9f9f9;
  border-radius: 8px;
  margin: 10% auto;
  overflow: hidden;
}

/* 头部标题 */
.todo-header {
  height: 100px;
  background: #6b59f9;
  color: white;
  text-align: center;
  padding: 2%;
  border-radius: 8px 8px 0 0;
}

.todo-header h1 {
  margin: 10px auto;
}

/* 输入框 */
.todo-input-container {
  height: 70px;
  border-bottom: 1px solid #eee;
}

.todo-input {
  border: 1px solid #6b59f9;
  height: 40px;
  width: 90%;
  margin: 15px auto;
}

.todo-input input {
  width: calc(100% - 80px);
  height: 100%;
  line-height: 40px;
  border: 0;
  outline: none;
}

.todo-input button {
  height: 40px;
  width: 80px;
  float: right;
  background: #6b59f9;
  color: white;
  font-size: 16px;
  border: 0;
}

/* 内容区 */
.todo-conter {
  min-height: 220px;
  border-bottom: 1px solid #eee;
  width: 90%;
  margin: 10px auto;
}

.todo-conter li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.task-checkbox {
  width: 20px;
  height: 20px;
}

.task-text {
  margin: 10px;
  font-size: 16px;
  width: calc(100% - 50px);
}

.delete-btn {
  color: red;
  font-size: 24px;
  background: none;
  border: 0;
  float: right;
}

/* 给已完成的任务添加删除线 */
.completed {
  text-decoration: line-through;
  color: #999;
}

/* 底部统计 */
.todo-number {
  margin: 10px;
  overflow: hidden;
}

.todo-number-l {
  float: left;
  font-size: 18px;
}

.todo-number-r {
  float: right;
}

.todo-number-r button {
  color: red;
  background: none;
  border: 0;
  font-size: 18px;
  margin: 0 10px
}

@media (max-width: 850px) {
  .todo-container {
    width: 95%;
    margin: 5% auto;
  }

  .todo-number-r {
    float: none;
    text-align: center;
    margin-top: 10px;
  }

  .todo-number-l {
    float: none;
    text-align: center;
  }
}